// Footer
footer

    //- Copywrite information
    p#copywrite &copy; Bluespec LTD, 2018.

    //- Reference to author
    p#reference Website design and development by 
        a(href="http://jacksoncurrie.github.io") Jackson Currie