// Header
header

    //- Logo
    img#logoImg(
        alt="Bluespec"
        srcset="/images/logo-2x.png 2x, /images/logo.png 1x"
        src="/images/logo.png"
    )

    //- Open button
    #openButton(onclick="openNav()")