// Navigation
nav

    //- Close button
    #closeButton(onclick="closeNav()")

    //- Pages
    a(href="/" class={active: id == "home"}) Home
    a(href="/portfolio" class={active: id == "portfolio"}) Portfolio
    a(href="/houses" class={active: id == "houses"}) Houses
    a(href="/contact" class={active: id == "contact"}) Contact