// Title Image
#titleImg

    //- Picture
    img#title(
        alt="Title Image"
        srcset= "/images/" + id + "-title-2x.jpg 2x, /images/" + id + "-title.jpg 1x"
        src= id + "-title.jpg"
    )

    //- Title
    h1= heading

    //- Down arrow
    #downArrow(onclick="moveDown()")