extends layout

block head
    // Page specific head
    meta(name="keyword" content="Omokoroa, Tauranga, Bulidings, Houses, For Sale")
    meta(name="description" content="Bluespec LTD is selling houses")

block content
    // Page specific content
    p Welcome to the #{id} page