doctype html

//- Common layout
html(lang="en-NZ")

    //- Head
    head

        //- Common head
        include partials/head.pug

        //- Page specific head
        block head

    //- Body
    body

        //- Common header
        include partials/header.pug

        //- Common navigation
        include partials/navigation.pug

        // Content
        main

            //- Common title
            include partials/title.pug

            //- Page specific content
            block content

        //- Common footer
        include partials/footer.pug