@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #FFF;
}

body:after
{
    content: url(../images/menu-hover.png) url(../images/close-hover.png) url(../images/down-arrow-hover.png);
    display: none;
}

/*============================= Header =============================*/

header
{
    position: fixed;
    z-index: 200;
    width: 100%;
    transition: 500ms;
    top: 0;
    padding-top: 50px;
    background-color: transparent;
    border-bottom: none;
}

#logoImg
{
    display: block;
    margin: auto;
    padding: 15px 0;
}

/*============================= Navigation ===========================*/

#topNav
{
    position: fixed;
    height: 100%;
    width: 400px;
    margin-left: -402px;
    z-index: 400;
    top: 0;
    left: 0;
    border-right: 2px solid #00BFFF;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 400ms ease-out;
}

#topNav a
{
    margin: 45px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    display: block;
    color: #00BFFF;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 200ms;
}

#topNav a.active
{
    color: #333;
}

#topNav a:hover
{
    color: #CCC;
    transition: 200ms;
}

#topNav a.active:hover
{
    color: #333;
}

#closeButton {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 30px;
    height: 30px;
    background-image: url(../images/close.png);
    cursor: pointer;
    transition: 200ms;
}

#closeButton:hover
{
    background-image: url(../images/close-hover.png);
    transition: 200ms;
}

#openButton {
    position: absolute;
    bottom: 28px;
    left: 100px;
    z-index: 300;
    width: 30px;
    height: 29px;
    margin: auto;
    background-image: url(../images/menu.png);
    cursor: pointer;
    transition: 200ms;
}

#openButton:hover
{
    background-image: url(../images/menu-hover.png);
    transition: 200ms;
}

/*=============================== Content =================================*/

main 
{
    margin: 0;
    padding: 0;
    background-color: #FFF;
    transition: 500ms;
    z-index: 0;
}

#titleImg
{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

#downArrow
{
    position: absolute;
    bottom: 30px;
    width: 40px;
    height: 24px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../images/down-arrow.png);
    transition: 200ms;
    cursor: pointer;
}

#downArrow:hover
{
    background-image: url(../images/down-arrow-hover.png);
    transition: 200ms;
}

h1
{
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 200;
    font-size: 80px;
    text-align: center;
    color: #222;
}

#titleText
{
    height: 100%;
    font-size: 70px;
    margin: 0;
    color: #FFF;
    padding-top: 40vh;
}

#description 
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 30px;
    padding: 0 50px;
    text-align: center;
}

/*================================ Footer =================================*/

footer
{
    background-color: #111;
    border-top: 2px solid #00BFFF;
    transition: 500ms;
    position: relative;
    height: 100px;
}

#copyright 
{
    position: absolute;
    right: 0;
    left: 0;
    top: 30px;
    text-align: center;
    color: #BBB;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 400;
    font-size: 15px;

}

/*================================== End ==================================*/